.container{
    width: 380px;
    height: 370px;
    text-align: center;
    margin: auto;
    margin-top: 11%;
    border-radius: 20px;
    padding-top: 10px;
}

body{
    margin: auto;
    background-color: rgb(255, 255, 255);
}

button{ 
    color: rgb(34, 34, 34);
    margin: 5px;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(34, 34, 34);
    border: none;
    outline: none;
}

